@import "config";
@import "utilities";
@import "form";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    height: 100%;
}

// Main header
.main-header {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 8vh;
    background-color: $secondary-color;
    transition: all 0.2s ease-in;

    .main-header__brand {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        transition: all 0.2s ease-in;

        .main-header__logo {
            font-weight: 700;

            img {
                width: 50px;
                height: 25px;
            }
        }

        .toggle-btn {
            cursor: pointer;
            margin-left: auto;
        }
    }

    // Main Navigation
    .main-nav {
        display: none;

        .main-nav__items {
            display: flex;
            flex-direction: column;
            background: $secondary-color;

            .nav-link {
                padding-bottom: 1rem;

                a {
                    padding: 0.5rem;
                    margin: 1rem 0.25rem;
                    transition: all 0.2s;

                    &:hover {
                        border-bottom: 2px solid #fff;
                    }
                }

                .cta-btn {
                    background: $accent1-color;
                    border: 2px solid $accent1-color;
                    border-radius: 18px;
                    transition: all 0.2s;

                    &:hover {
                        background: transparent;
                        color: #fff;
                        border: 2px solid #fff;
                    }
                }
            }
        }
    }
}

section {
    .section-text {
        text-align: center;
    }
}


#landing {
    display: flex;
    background-color: $secondary-color;
    color: #fff;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;

    .landing-inner {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &__img {
            width: 45%;
            height: 45%;
            margin: 2.4rem auto -2rem;
        }
    }

}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: whitesmoke;
    padding: 2rem 1rem;

    .about {
        &-right {
            video {
                width: 100%;
                height: 50%;
            }

        }
    }
}

#features {
    padding: 4rem 1rem 2rem;

    .features {

        .feature {
            margin-top: 1.6rem;
            text-align: center;

            &-icon {
                font-size: 4rem;
            }
        }
    }
}

#download {
    background: rgba($color: #01073d, $alpha: 0.6) url("../images/download.jpg") left 10% bottom 50% / cover no-repeat border-box;
    background-blend-mode: multiply;
    height: 60%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2rem;

    .section-buttons {
        display: flex;
        width: 70%;
        flex-wrap: wrap;

        .download-btn {
            margin: 0.7rem auto;
            padding: 1.5rem 3rem;
        }
    }
}

#pricing {
    background: whitesmoke;
    padding: 5rem 1rem 2rem;

    .packages {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .package {
        background: white;
        width: 70vw;
        min-width: 230px;
        max-width: 320px;
        height: 60%;
        margin: 1rem;
        text-align: center;
        color: lighten($color: $dark-color, $amount: 15%);
        box-shadow: 1px 1px 10px 0 rgba($color: #000000, $alpha: 0.45);
        border-radius: 4px;

        .package-title {
            h3 {
                text-transform: uppercase;
                padding: 1.4rem 0;
            }

            .price {
                display: block;
                overflow: hidden;
                background: $dark-color;
                color: white;
                padding: 1.2rem 0 1.1rem;

                h4 {

                    .text-top {
                        position: relative;
                        top: -20px;
                        font-size: 1.4rem;
                        padding-right: 0.4rem;
                    }

                    .large {
                        line-height: 61px;
                    }
                }

                .text-bottom {
                    font-size: 1.4rem;
                    position: relative;
                    bottom: -8px;
                    font-weight: 400;
                }
            }

            .cta-package {
                background: $accent1-color;
            }

        }

        .package-list {
            padding: 1.2rem 0;
            text-transform: uppercase;
            line-height: 2rem;

            .price-btn {
                .btn {
                    text-transform: uppercase;
                }

                .cta-btn {
                    background: $accent1-color;
                }
            }
        }
    }
}

#subscribe {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .subscribe-form {
        display: block;
        text-align: center;

        form {
            width: 100%;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;

            input[type=text] {
                padding: 0.7rem 1.3rem;
                border: none;
                border-bottom: 1.4px solid $primary-color;
                display: inline-block;
                width: 80%;
                margin-right: auto;
                margin-left: auto;

                &:focus {
                    outline: none;
                }
            }

            button {
                width: 80%;
                margin-top: 1.5rem;
            }
        }
    }
}

#footer {
    background: $dark-color;

    .footer-links {

        a {
            color: $light-color;
            font-size: 2rem;
            margin: 0.5rem;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                color: lighten($color: $light-color, $amount: 50%);
            }
        }
    }

    .footer-text {
        color: #fff;
    }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    section {
        padding: 0;
    }

    #landing {
        .landing-inner {
            padding: 3rem 0.5rem 0;

            &__img {
                display: none;
            }
        }

    }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
//     ...
// }


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-header {
        height: 8vw;

        .main-header__brand {
            .toggle-btn {
                display: block;
            }

        }

        .main-nav {
            display: none;
        }
    }

    #landing {
        height: 75vw;

        .landing-inner {
            &__text {
                flex: 1.5;
            }

            &__img {
                width: 60%;
                height: 70%;
                max-height: 425px;
            }
        }

    }

    #about {
        flex-direction: row;
        text-align: left;
        padding: 2rem 1rem;

        .about {

            &-right {
                display: flex;
                align-content: center;

                video {
                    width: 80%;
                    margin: 2rem auto;
                }

            }
        }
    }

    #features {
        .features {
            display: flex;
            flex-flow: wrap;
            justify-content: space-evenly;

            .feature {
                width: 30%;
                min-width: 240px;
                max-width: 320px;
                margin: 0.5rem 0.5rem;
                border: 1px solid whitesmoke;
                border-radius: 4px;
                transition: all 0.5s ease-in-out;

                &-text {
                    p {
                        font-size: 1rem;
                    }
                }

                &:hover {
                    background: $secondary-color;
                    color: #fff;
                }
            }
        }
    }

    #download {
        height: 60vw;

        .section-buttons {
            flex-direction: row;
        }
    }

    #pricing {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .packages {
            flex-direction: row;
        }

        .package {
            width: 30%;
            min-width: 250px;
            max-width: 320px;
        }
    }

    #subscribe {

        .subscribe-form {
            width: 60%;
            margin-left: auto;
            margin-right: auto;

            form {
                display: inline;

                input[type=text] {
                    display: inline;
                    width: 60%;
                }

                button {
                    display: inline;
                    width: 30%;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-header {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 11vh;
        background-color: transparent;
        box-shadow: 0 1px 10px 1px rgba($color: #000000, $alpha: 0.3);
        transition: all 0.2s ease-in;

        &__shrink {
            padding: 0.7rem 1rem;
            background-color: $secondary-color;
            opacity: 1;
            height: 9vh;
            box-shadow: none;
        }

        .main-header__brand {
            .main-header__logo {
                img {
                    width: 80px;
                    height: 35px;
                }
            }

            .toggle-btn {
                display: none;
            }

        }

        .main-nav {
            display: flex;
            align-items: center;
            margin: 0;

            .main-nav__items {
                flex-direction: row;
                margin-right: 2rem;

                .nav-link {
                    padding-bottom: 0;
                }
            }
        }
    }

    #landing {
        height: 100vh;

        .landing-inner {
            flex-direction: row;
            text-align: left;
        }
    }

    #download {
        height: 60vh;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;

        .main-header {
            max-width: 1440px;
        }
    }
}


// open
.open {
    display: block !important;
}